creds:
  cf_clearance: not_needed
  game_auth_token: not_needed
  login: fill_in
  password: fill_in
  session_id: not_needed
crons:
  asteroid:
    coords:
    - 2:308:4
    enabled: true
    fs:
    - 2:299:6
    is_from_moon: false
    miners_percentage: 60
    miners_speed: 115200
  bonus:
    enabled: true
  collect:
    enabled: false
    interval: 7200
  defense:
    enabled: false
    interval: 7200
  expedition:
    count: 12
    enabled: true
    planets:
      - 6:368:7
  refresh:
    enabled: true
    interval: 7200
  plunder:
    enabled: true
    idle_time: 300
    min_rank: 1000
    planets:
    - base_coords: 6:368:7
      y_limit: 250:499
      max_missions: 15
    - base_coords: 6:117:7
      y_limit: 1:249
      max_missions: 15
server:
  fleet_speed: 8
  host: https://falcon.ogamex.net
