creds:
  cf_clearance: not_needed
  game_auth_token: not_needed
  login: fill_in
  password: fill_in
  session_id: not_needed
crons:
  asteroid:
    coords:
    - 2:308:4
    enabled: true
    fs:
    - 2:299:6
    is_from_moon: false
    miners_percentage: 60
    miners_speed: 115200
  bonus:
    enabled: true
  collect:
    enabled: false
    interval: 7200
  defense:
    enabled: false
    interval: 7200
  expedition:
    count: 12
    enabled: true
    planets:
    - 6:364:12
    - 6:368:7
    - 6:349:10
    - 6:248:6
    - 6:244:5
    - 6:229:11
    - 6:220:11
    - 6:215:11
    - 6:213:11
    - 5:241:11
    - 4:256:5
    - 6:117:7
    time: 40
  refresh:
    enabled: true
    interval: 7200
  plunder:
    enabled: true
    idle_time: 300
    min_rank: 1000
    planets:
    - base_coords: 6:368:7
      max_missions: 4
      y_limit: 250:499
    - base_coords: 6:117:7
      max_missions: 4
      y_limit: 1:249
    - base_coords: 5:241:11
      max_missions: 6
      y_limit: 1:499
    - base_coords: 4:256:5
      max_missions: 6
      y_limit: 1:499
    - base_coords: 3:160:6
      max_missions: 4
      y_limit: 1:249
    - base_coords: 3:339:6
      max_missions: 4
      y_limit: 250:499
    - base_coords: 2:178:11
      max_missions: 4
      y_limit: 1:249
    - base_coords: 2:338:5
      max_missions: 4
      y_limit: 250:499
server:
  fleet_speed: 8
  host: https://falcon.ogamex.net
